body
{
	margin: 0;
	padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

#left-block
{
	width: 200px;
	height: 1000px;
	background-color: rgb(230, 230, 230);
	float: left;
}

#logo
{
	width: 151px;
    height: 135px;
    padding: 25px;
}

#header
{
    width: calc(100% - 200px);
	height: 65px;
	background-color: rgb(210, 210, 210);
	float: left;
}

#box
{
	width: 165px;
	height: 50px;
	background-color: rgb(230, 230, 230);
	float: right;
}

#page
{
	width: calc(100% - 300px);
	height: 740px;
	margin: 50px;
	background-color: yellow;
	float: left;
}
#upper-bar
{
	width: 100%;
	height: 50px;
	background-color: rgb(200, 200, 200);
}
#bar-right
{
	width: 150px;
	height: 34px;
	margin-right: 2px;
    padding-top: 16px;
    color: white;
	background-color: grey;
	text-align: center;
	float: right;
}
#bar-right:hover
{
	color: green;
	cursor: pointer;
}
#bar-left
{
	width: 150px;
	height: 34px;
    padding-top: 16px;
    color: white;
	background-color: grey;
	text-align: center;
	float: left;
}
#bar-left:hover
{
	color: green;
	cursor: pointer;
}
.page-box
{
	width: 330px;
    height: 146px;
    padding: 14px 15px 32px 20px;
    margin: 8px;
    display: inline-block;
    float: left;
    border-style: solid;
    border-width: 0.2px;
    border-color: grey;
}

#signup_box
{
	width: 60px;
	font-size: 14px;
	float: left;
	text-decoration: underline;
	cursor: pointer;
	color: blue;
}
#signup_box:hover
{
	color: black;
}
#signout_box
{
	width: 60px;
	font-size: 14px;
	text-decoration: underline;
	cursor: pointer;
	color: blue;
}
#signout_box:hover
{
	color: black;
}
#separator
{
	width: 10px;
	float: left;
}
#signin_box
{
	width: 58px;
	font-size: 14px;
	float: left;
	text-decoration: underline;
	cursor: pointer;
	color: blue;
}
#signin_box:hover
{
	color: black;
}

#username
{
	font-size: 14px;
}
.article-on-main
{
	color: blue;
	text-decoration: none;
}
.article-on-main:hover
{
	text-decoration: underline;
}
#title
{
	font-size: 24px;
	font-family: Arial;
}
#sitesub
{
	font-size: 13px;
	font-family: Arial;
	font-style: italic;
}
#text
{
	font-size: 18px;
}
#date
{
	font-size: 10px;
}
#history-table
{
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 70%;
    color: black;
    background-color: rgb(230, 230, 230);
	border: 1px solid black;
}
#history-table td, #history-table th
{
    border: 1px solid #ddd;
    padding: 8px;
}
#textarea1
{
	width: 955px;
	height: 500px;
	margin: 27px;
	resize: none;
}
#article-id
{
	width: 55px;
	height: 50px;
	color: white;
	background-color: green;
}
.span-text
{
	color: red;
}
.span-text:hover
{
	color: red;
	cursor: pointer;
	text-decoration: underline;
}